{% if page.sidebar %}
  <div class="sidebar sticky">
    <img src="{{ page.header.teaser | relative_url }}"
             alt="{{page.header.image_alt }}">
    
    <p>{{page.start_date}} &ndash; {{page.end_date}}</p>
    <p>Led from {{page.led_from}}</p>
    
    {% if page.collaborators %}
    <h3>Collaborators</h3>
    <ul>
      {% for cc in page.collaborators %}
        <li><a href={{site.data.collaborators[cc].url}}>{{cc}}</a> at {{site.data.collaborators[cc].affiliation}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {% if page.industry_partners %}
    <h3>Industry partners</h3>
    <ul>
      {% for ii in page.industry_partners %}
        <li><a href={{site.data.partners[ii].url}}>{{ii}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    
    {% if page.funders %}
    <h3>Funded by</h3>
    <ul>
      {% for ff in page.funders %}
        <li><a href={{site.data.funders[ff].url}}>{{ff}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    
  </div>
{% endif %} 